<!-- <p>Footer works!</p> -->
<div class="footer">
    <!-- Footer -->
    <footer class="page-footer ">
        <div class="row">
            <!-- Copyright -->
            <div class="col-4">
                <div class="footer-copyright text-center py-3">© 2018 Copyright: InvictusGym</div>
            </div>
            <!-- Copyright -->
            <!-- Facebook -->
            <div class="col-4">
                <div class="footer-copyright text-center py-3" icon="facebook-square">
                    <a href="https://facebook.com/">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        Facebook
                    </a>
                </div>
            </div>
            <!-- Facebook -->
            <!-- Twitter -->
            <div class="col-4">
                <div class="footer-copyright text-center py-3">
                    <a href="https://twitter.com/">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        Twitter
                    </a>
                </div>
            </div>
            <!-- Twitter -->
        </div>
    </footer>
    <!-- Footer -->
</div>