<h1>Trainer</h1>

<div class="row">
  <div class="col-md-6">
    <h4>Nombre</h4>
    <mat-form-field>
      <select
        matNativeControl
        required
        [placeholder]="!selectedTrainer ? 'Seleccionar nombre' : ''"
        [(ngModel)]="selectedTrainer"
        (ngModelChange)="onNameChange($event)"
      >
        <option
          [value]="trainer.idTrainer"
          *ngFor="let trainer of trainerDataToShow"
          >{{ trainer.name }}</option
        >
      </select>
    </mat-form-field>
  </div>

  <div class="col-md-6">
    <h4>Actividad</h4>
    <mat-form-field *ngIf="activitiesToShow && activitiesToShow.length != 0">
      <select
        matNativeControl
        required
        [placeholder]="!selectedActivity ? 'Seleccionar Actividad' : ''"
        [(ngModel)]="selectedActivity"
        (ngModelChange)="onActivityChange($event)"
      >
        <option
          [value]="activity.idActivity"
          *ngFor="let activity of activitiesToShow"
          >{{ activity.value }}</option
        >
      </select>
    </mat-form-field>
  </div>
  <div class="col-md-6">
    <h4>Dia</h4>
    <div *ngIf="!dateSelected">
      <!-- verificar date selected -->
      <input
        type="date"
        [(ngModel)]="dateSelected"
        (input)="dateChange($event)"
        name="bday"
        *ngIf="activitySelected"
      />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Hora</h4>
    <mat-form-field *ngIf="shiftDataToShow && shiftDataToShow.length != 0">
      <select matNativeControl [placeholder]="!hourSelected ? 'Seleccionar Hora' : ''"
        [(ngModel)]="hourSelected" required (ngModelChange)="onHourChange($event)">
        <option [value]="shiftHour.idShift" *ngFor="let shiftHour of shiftDataToShow">{{ shiftHour.time }}</option>
      </select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <mat-accordion *ngIf="trainerInformationSelected">
        <!-- <mat-accordion *ngIf="false"> -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{shiftInformation.trainerName}} </mat-panel-title>
          <mat-panel-description>
            {{shiftInformation.shiftName}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="Cupo" disabled="true"/>
        </mat-form-field>
        <mat-form-field>
            <!-- <mat-label></mat-label> -->
            <input matInput [value]="shiftInformation.quota" disabled="true">
          </mat-form-field>
      </mat-expansion-panel>
      <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" > -->
        <!-- <mat-expansion-panel-header>
          <mat-panel-title> Self aware panel </mat-panel-title>
          <mat-panel-description>
            Currently I am {{ panelOpenState ? "open" : "closed" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel> -->
    </mat-accordion>
  </div>
</div>
