<form [formGroup]="trainerForm" (ngSubmit)="onSubmit()">
  
  <div class="form-group">
    <label>First Name</label><span *ngIf="trainerForm.controls.firstName.dirty && !trainerForm.controls.firstName.errors"><i class="fa fa-check" aria-hidden="true"></i></span>
    <input type="text" class="form-control" formControlName="firstName" required minlength="4">
    <div *ngIf="trainerForm.controls.firstName && trainerForm.controls.firstName.errors && trainerForm.controls.firstName.dirty" class="alert alert-danger">
      <div *ngIf="trainerForm.controls.firstName.errors && trainerForm.controls.firstName.errors.minlength.requiredLength > trainerForm.controls.firstName.errors.minlength.actualLength">
          Name is required and must be at least 4 characters long.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Last Name</label><span *ngIf="trainerForm.controls.lastName.dirty && !trainerForm.controls.lastName.errors"><i class="fa fa-check" aria-hidden="true"></i></span>
    <input type="text" class="form-control" formControlName="lastName" required  minlength="4">
    <div *ngIf="trainerForm.controls.lastName && trainerForm.controls.lastName.errors && trainerForm.controls.lastName.dirty" class="alert alert-danger">
        <div *ngIf="trainerForm.controls.lastName.errors && trainerForm.controls.lastName.errors.minlength.requiredLength > trainerForm.controls.lastName.errors.minlength.actualLength">
            Name is required and must be at least 4 characters long.
        </div>
      </div>
  </div>

  <div class="form-group">
    <label>Email</label><span *ngIf="trainerForm.controls.email.dirty && !trainerForm.controls.email.errors"><i class="fa fa-check" aria-hidden="true"></i></span>
    <input type="email" class="form-control" formControlName="email" required  minlength="4">
    <div *ngIf="trainerForm.controls.email && trainerForm.controls.email.errors && trainerForm.controls.email.dirty" class="alert alert-danger">
        <div *ngIf="trainerForm.controls.email.errors && trainerForm.controls.email.errors.minlength.requiredLength > trainerForm.controls.email.errors.minlength.actualLength">
            Email is required and must be at least 4 characters long.
        </div>
      </div>
  </div>


  <div class="form-group">
    <label>Password</label><span *ngIf="trainerForm.controls.password.dirty && !trainerForm.controls.password.errors"><i class="fa fa-check" aria-hidden="true"></i></span>
    <input type="password" class="form-control" formControlName="password" required minlength="4">
    <div *ngIf="trainerForm.controls.password && trainerForm.controls.password.errors && trainerForm.controls.password.dirty" class="alert alert-danger">
        <div *ngIf="trainerForm.controls.password.errors && trainerForm.controls.password.errors.minlength.requiredLength > trainerForm.controls.password.errors.minlength.actualLength">
            The password is required and must be at least 4 characters long.
        </div>
      </div>
  </div>
  

  <div class="form-group">
    <label>Language</label>
    <select class="form-control">
      <option value="">Please select a language</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>